<div class="banner" style="background-image: url(assets/banner.png);">
  <div class="container">
    <p>Create your own</p>
    <h1>Move lists</h1>
    <%= link_to "Create a new movie list", new_list_path, class:'btn btn-danger , color: white' %>
  </div>
</div>

<div class="container">
<ul>
<% @lists.each do |list| %>
<li><%= link_to list.name, list_path(list) %></li>
  <% if list.photo.attached? %>
    <%= cl_image_tag list.photo.key, width: 225, height: 225 %>
  <% else %>
    <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>
  <% end %>
<% end %>
</ul>

<%= link_to "Create a new movie list", new_list_path %>

</div>
