<div class="banner" style="background-image: url(assets/banner.png);">
  <div class="container">
    <p>Create your own</p>
    <h1>Move lists</h1>
    <%= link_to "Create a new movie list", new_list_path, class:'btn btn-danger , color: white' %>
  </div>
</div>


<div class="container mt-3">
<div class="cards">
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : @list_default_img %>)">
    <%= list.name %>
    </div>
   <% end %>
  <% end %>
</div>

  <%= link_to "Create a new movie list", new_list_path %>

</div>
