<div class="container">
<p>Show</p>

<p>List of movies in <%= @list.name %></p>

<% if @list.photo.attached? %>
    <%= cl_image_tag @list.photo.key, width: 225, height: 225 %>
<% else %>
  <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>
<% end %>
  <ul>
    <% @list.bookmarks.each do |bookmark| %>
        <li><%= bookmark.movie.title %>
        <%= link_to bookmark_path(bookmark.id), data: {turbo_method: :delete, turbo_confirm: "Delete #{bookmark.movie.title}?"} do %>
          <i class="fa-regular fa-trash-can"></i>
        <% end %></li>
        <p>comment: <%= bookmark.comment %></p>

    <% end %>
  </ul>
<%= link_to "Add a movie", new_list_bookmark_path(@list) %>
<%= link_to "Back to see your movie lists", lists_path %>
</div>
